html {
	text-align: center;
	font-family: "Helvetica", sans-serif;
}

.header {
	color: white;
	background-image: url(../images/the-flatiron-building.jpg);
}

.btn-nav {
	color: white;
	font-size: 18px;
}

.chapter {
	font-size: 23px;
}

p {
	font-size: 14px;
}

.footer {
	background-color: dimgrey;
	text-align: left;
	color: white;
	font-size: 11px;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 30px;
}